apiVersion: config.gatekeeper.sh/v1alpha1
kind: Config
metadata:
  name: config
  namespace: "openshift-gatekeeper-system"
spec:
  sync:
    syncOnly:
      - group: rbac.authorization.k8s.io
        version: "v1"
        kind: "ClusterRoleBinding"
