---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - logs-6.x-migration
  - hub-template-auth

generators:
  - ./generator.yml
  - ./multi-cluster-generator.yml

patchesJson6902:
- target:
    kind: PolicySet
    name: cluster-logging-operator
  patch: |
    - op: add
      path: /spec/policies/-
      value: 'cluster-observability-operator'

- target:
    kind: PolicySet
    name: multi-cluster-logging-operator
  patch: |
    - op: add
      path: /spec/policies/-
      value: 'prepare-logging-migration'

    - op: add
      path: /spec/policies/-
      value: 'clean-logging-migration'

    - op: add
      path: /spec/policies/-
      value: 'cluster-logging-operator'
